<div class="container">
    <div class="container-row">
        <div class="back-button-container">
            <button routerLink="facilities/schedule" routerLinkActive="active" (click)="goBackOnce()">back</button>
        </div>
        <div class="container">
            <h1>Generate New Schedule</h1>
        </div>
    </div>
    
    <!-- Develop this div appropriately -->
    <div class="container">
        <app-suggestedschedule-table [schedule]="schedule"></app-suggestedschedule-table>
    </div>
</div>