<div class="container">
    <div class="container-row">
        <div class="back-button-container">
            <button (click)="goBackOnce()">back</button>
        </div>
        <div class="container">
            <h1>Display Schedule</h1>
        </div>
    </div>

    <!-- Develop this div appropriately -->
    <div class="container">
        <form action="/action_page.php">
            <label for="name"><br><b>Enter Start Stop</b> </label><br>
            <input [(ngModel)]='selectedBusFrom' (ngModelChange)='changeFrom()' type="text" id="name" name="name" required
                autocomplete="off"><br><br><br>
            <label for="name"><br><b>Enter Destination Stop</b> </label><br>
            <input [(ngModel)]='selectedBusTo' (ngModelChange)='changeTo()' type="text" id="name" name="name" required
                autocomplete="off"><br><br><br>
            <div class='suggestionsOuterContainer'>
                <div id='spacer'></div>
                <div class="listSuggestions">
                    <div *ngIf='enteredTextFrom'>
                        <div class='listItems' *ngFor="let stop of stopNames | appFilter: selectedBusFrom">
                            <a (click)='sendToFieldFrom(stop)'>{{stop}}</a>
                        </div>
                    </div>
                    <div *ngIf='enteredTextTo'>
                        <div class='listItems' *ngFor="let stop of stopNames | appFilter: selectedBusTo">
                            <a (click)='sendToFieldTo(stop)'>{{stop}}</a>
                        </div>
                    </div>
                </div>
                <div id='spacer'></div>
            </div>

            <input type="submit" value="View Schedule">
        </form>

    </div>
</div>