<div class="container">
    <div class="container-row">
        <div class="back-button-container">
            <button routerLink="facilities/schedule" routerLinkActive="active" (click)="goBackOnce()">back</button>
        </div>
        <div class="container">
            <h1>Display Schedule</h1>
        </div>
    </div>
    
    <!-- Develop this div appropriately -->
    <div class="container">
        <form  action="/action_page.php">
            <label for="name"><br><b>Enter Name of Bus Stop</b> (Required)</label><br>
            <input type="text" id="name" name="name" required><br><br><br>
            <input type="submit" value="View Schedule" >
        </form>
    </div>
</div>
