<h2>Facilities</h2>
<div class="card-container">
  <a class="card" target="_blank" rel="noopener" href="">
    <img src="assets/icons/map.png" alt="Tracking">

    <span>Bus Tracking</span>
  </a>

  <a class="card" target="_blank" rel="noopener" href="">
      <img src="assets/icons/employee.png" alt="Employee details">

    <span>Employee Details</span>
  </a>

  <a class="card" target="_blank" rel="noopener" href="">
    <img src="assets/icons/schedule.png" alt="schedule">

    <span>Bus Timings</span>
  </a>

  <a class="card" target="_blank" rel="noopener" href="">
    <img src="assets/icons/pay.png" alt="Fare update">

    <span>Fare update</span>
  </a>

  <a class="card" target="_blank" rel="noopener" href="">
    <img src="assets/icons/customer-service.png" alt="Customer service">

    <span>Customer Support</span>
  </a>

</div>