<div class="card-container">
  <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
    <img src="assets/images/map.png" alt="Tracking">

    <span>Bus Tracking</span>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <img src="assets/images/employee.png" alt="Employee details">

    <span>Employee Details</span>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
    <img src="assets/images/schedule.png" alt="schedule">

    <span>Bus Timings</span>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
    <img src="assets/images/pay.png" alt="Fare update">

    <span>Fare update</span>
  </a>

  <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
    <img src="assets/images/customer-service.png" alt="Customer service">

    <span>Customer Support</span>
  </a>

</div>