<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Odu Komban</span>
  <div class="spacer"></div>
  <a id="github-logo" aria-label="Github project repo" target="_blank" rel="noopener"
    href="https://github.com/Stormers-one/website-o_k" title="Github">
    <img src="assets/icons/github.svg" height="30" width="30">
  </a>
</div>

<div class="content" role="main">
  <div class="main-banner">
    <figure>
      <img id="banner-img" alt="Main banner image" src="assets/images/ksrtc_bus_kerala.png">
      <figcaption>Illustration by Deepak Kumar on dribbble</figcaption>
    </figure>
  </div>
  <!-- Resources -->
  <h2>Facilities</h2>

  <app-facilities></app-facilities>

  <!-- Footer -->
  <footer>
    Copyright 2021&nbsp;
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
      <div class="github-star-badge">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
        </svg>
        Star
      </div>
    </a>
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </a>
  </footer>

</div>

<router-outlet></router-outlet>