<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Odu Komban</span>
  <div class="spacer"></div>
  <a id="github-logo" aria-label="Github project repo" target="_blank" rel="noopener"
    href="https://github.com/Stormers-one/website-o_k" title="Github">
    <img src="assets/icons/github.svg" height="30" width="30">
  </a>
</div>

<app-main-banner></app-main-banner>

<div class="content" role="main">
  <!-- Resources -->
  <div class="resource-box-1">
    <app-facilities></app-facilities>
  </div>

</div>

<!-- Footer -->
<footer>
  <span>Copyright 2021 by Stormers-one</span>
</footer>


<router-outlet></router-outlet>