.container {
  /* height: 100%;
  width: 100%; */
  margin: 10 10 10 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.table-header{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  font-weight: 600;
  width: 100%;
  font-size: large;
  flex: 1 1 auto;
}
.td-mail{
  width: 200px;
  /* background-color: aquamarine; */
  align-content: flex-start;
  text-align: start;
}
.td-active{
  width: 100px;
  /* background-color: antiquewhite; */
  text-align: start;
  align-content: flex-start;
}
.td-desig{
  width: 100px;
  /* background-color: burlywood; */
  text-align: start;
  align-content: flex-start;
}

.table-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  height: 35px;
  font-weight: 400;
  font-size: medium;
  width: 100%;
  flex: 1 1 auto;
  border-radius: 8px;
  border-width: 1px;
  padding-bottom: 0.2em;
}

.table-body:hover{
  background-color: rgb(146, 233, 129);
}