<!-- Develop this div appropriately -->
<div class="container">

    <div class="table">
        <div class="table-header">
            <div class="td-head">
                <span>Email</span>

            </div>
            <div class="td-head">
                <span>Active</span>
            </div>
            <div class="td-head">
                <span>Designation</span>
            </div>
            <div class="td-head">
            </div>
        </div>

        <button *ngFor="let employee of employee | paginate: { itemsPerPage: 10, currentPage: 1 }; let i = index;"
            class="table-body" (click) = "buttonPressed()">
            <div class="td-body">
                <span>{{employee.email}}</span>
            </div>
            <div class="td-body">
                <span>{{employee.name}}</span>
            </div>
            <div class="td-body">
                <span>{{employee.phone_no}}</span>
            </div>
        </button>
    </div>
</div>
