<!-- Develop this div appropriately -->
<div class="container">
    <table>
        
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Phone No</th>
            </tr>
        </thead>
        <tbody>
           
            
        </tbody>
        
             <tr *ngFor="let employee of employee | paginate: { itemsPerPage: 10, currentPage: 1 }; let i = index;">
                <td>{{employee.email}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.phone_no}}</td>
                <td>
                    <button>Delete</button>
                </td>
            </tr>
        

    </table>

</div>