.container {
  height: 100%;
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.table-header{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  font-weight: 600;
  width: 100%;
  font-size: large;
  flex: 1 1 auto;
}
.td-mail{
  width: 200px;
  padding: 2px auto;
  align-content: flex-start;
  text-align: start;
}
.td-active{
  width: 100px;
  padding: 2px auto;
  text-align: start;
  align-content: flex-start;
}
.td-desig{
  width: 100px;
  padding: 2px auto;
  text-align: start;
  align-content: flex-start;
}
.table-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  padding-bottom: 5px;
  height: 37px;
  font-weight: 400;
  font-size: medium;
  width: 100%;
  flex: 1 1 auto;
  border-radius: 8px;
  border-width: 0px;
  background-color: transparent;
}
.table-body:hover{
  background-color: rgb(146, 233, 129);
  color: grey;
}
.spacer-height{
  height: 0.8em;
}

.table-container{
  background-color: white;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(13, 179, 13, 0.63);
}