

  .register{
    cursor: pointer;
    color: white;
    background-color: rgb(236, 135, 68);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
  }
  .register:hover{
    color: wheat;
    background-color: rgb(233, 144, 93);
  }