<div class="container">
    <div class="container-row">
        <div class="back-button-container">
            <button routerLink="/facilities/employeeDetails" routerLinkActive="active"
                (click)="goBackOnce()">back</button>
        </div>
        <div class="container">
            <h1>Search Employee Details</h1>
        </div>
    </div>

    <!-- Develop this div appropriately -->
    <div class="container">
        <form action="/action_page.php">
            <div class="container-row-input">
                <div>
                    <label for="name"><b>Employee Name</b> </label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <label for="EID"><b>Employee ID </b></label>
                    <input type="text" id="EID" name="EID" required>
    
                </div>
            </div>
            <div>
                <input type="submit" value="View Employee Details">
            </div>
        </form>
    </div>
    <app-employee-table></app-employee-table>
</div>